body {background-color: rgb(181, 164, 139);}
h1 {text-align :center; color: rgb(250, 249, 248);}
p {text-align :center; color: rgb(250, 249, 248);}
h2 {color: rgb(250, 249, 248);}
#p2 {width: 800px; ;}
#aboutmebody {background-image:url(myBackground\ 2.jpg);}
table {width: 800px;}
td{text-align: center;}